table {
    border-collapse: collapse;
    width: 380px;
    height: 300px;
    display: block;
}

td {
    border: 1px solid black;
}

th {
    border: 2px solid black;
}

#chi {
    width: 50%;
}

#orario {
    width: 30%;
}

.pallini {
    width: 20%;
}

.utenti {
    text-align: left;
    margin-right: 100px;
}

#listapresenze {
    overflow: scroll;
    overflow-x: hidden;
    width: 400px;
    height: 300px;
}

/*#prova {
    position: sticky;
    top: 0;
}*/