
#lista{
    overflow:auto;
    border-collapse:collapse;
    width: auto;
    display:inline-block;
    background-color: #f1f1f1;
    margin-left: 20px;
    height: 40vh;
    box-shadow: 0 5px 5px 5px #dedede;
    
}

#lavoratore{
    
    background-color: darkorange;
    width: 100%;
}
thead{
    
    border-top: 20%;
    border-color: black;

}
th{
    position: sticky;
    top:0;
   
}

.fotoprof{
   width: 30%;
   border-radius: 50%;
   border-color: black;
   box-shadow: 0 4px 4px 4px #dedede;
}

#bottPerAggLav {
    width: 32px;
    height: 32px;
    top: 9px;
    right: 9px;
    position: absolute;
    border: none;
    background: transparent;
}

#bottPerAggLav:focus {
    outline: none;
}

.aggLavoratori {
    width: 28px;
    top: 0;
    right: 0;
    position: absolute;
}

