
#lista{
    overflow:scroll;
    border-collapse:collapse;
    width: 90%;
    display: block;
    background-color: #f1f1f1;
    margin-left: 10%;
    height: 50vh;
}

#lavoratore{
    background-color: darkorange;
    width: 100%;
}

th{
    position: sticky;
    top:0;
}